<div class="bg-light border-info" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action bg-info">Dashboard</a>
      <a routerLink="/produit" routerLinkActive="active" class="list-group-item list-group-item-action bg-info">Produit</a>
      <a href="#" class="list-group-item list-group-item-action bg-info">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-info">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-info">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-info">Status</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->