<div class="container-fluid content">
    <div class="row">
        <div class="col-lg-7">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Quantite</th>
                            <th>Prix unitaire</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let produit of produits">
                            <td>{{produit.ref}}</td>
                            <td>{{produit.quantite}}</td>
                            <td>{{produit.PU}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header bg-info text-white">Ajouter un produit</div>
                <div class="card-body">
                    <form [formGroup]="produitForm" action="">
                        <div class="form-group">
                            <label for="">Référence :</label>
                            <input type="text" class="form-control" formControlName="ref">
                        </div>
                        <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid &&
                                                         (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)">
                                La référence est obligatoire
                            </div>
                        <div class="form-group">
                            <label for="">Quantité :</label>
                            <input type="text" class="form-control" formControlName="quantite">
                        </div>
                        <div class="form-group">
                            <label for="">Prix unitaire :</label>
                            <input type="text" class="form-control" formControlName="PU">
                        </div>
                        <button class="btn tbn-danger" [disabled]= "produitForm.prestine || produitForm.invalid">Ajouter</button>
                    </form>
                </div>
                <div class="card-footer">Fotter</div>
            </div>
        </div>
    </div>
</div>